# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 604ba6532af4a3ffd57f07a8daf5f35bdedd984a437c8b1aff5fb06b8df6fad0f418eba0f04f7ae0a047d25ece70af28f485f8e64a158caac51f140fc7214c5e

test:
  secret_key_base: c5edd1fcc57ccc31b4bf6ca62d649ba1525110f093d748dde04ebc097e9e2c66850c37aecbb1bef474e3077cc74273f22eeb539a8aa5084582b33ec3f0bd51fe

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
